Pods/
Country.mmdb
Carthage
ClashX.a
ClashX.h
ClashX/Resources/dashboard
ClashX.app
*.dmg
**/xcuserdata/
.idea
*.pyc
ClashX/clash/
.DS_Store
.vscode
ClashX/goClash/goClash.h
ClashX/goClash/goClash.a
fastlane/report.xml
ClashX/Resources/Country.mmdb.gz
.bundle/config
